@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark, corporate;
}

/* Base styles */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
